version: '3.8'
services:
  db:
    image: postgres:16-alpine
    container_name: leaderboard-db
    restart: always
    environment:
      POSTGRES_DB: gamedb
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: leaderboard-redis
    ports:
      - "6379:6379"

volumes:
  db_data:
